# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Ricardo\Desktop\Universidad\7mo semestre\Metodologías\Tareas\Minitareas\MT3\MT3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
